@import 'nib';
@import "stylus/variables";

body {
  padding: 50px;
  font: $med-font-size "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $link-color;
}

.clickme {
  opacity: 1;
  transition: opacity .5s linear .5s;
  &.clicked {
    opacity: 0;
  }
}


.flex-container {
  display: flex;
  > div {
    flex: 1;
    display: block;
    img {
      border-radius: 20px;
      max-width: 100%;
    }
  }
}